<head>

    <link href="~/LIb/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <a href="~/LIb/bootstrap/css/glyphicons-halflings-regular.eot">~/LIb/bootstrap/css/glyphicons-halflings-regular.eot</a>
    <script src="~/LIb/bootstrap/js/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">


            <li><a href="/">Home</a></li>
            
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>